@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');

body {
    font-family: 'Roboto', sans-serif !important;
    font-size: 13px !important;
    font-weight: 500 !important;
}

tr {
    background-color: #D3D3D3;
}

.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #00a1ff !important;
    color: #FFF !important;
    font-size: 13px !important;
    font-family: 'Roboto', sans-serif;
    font-weight: 500 !important;
}

.container {
    width: 90% !important;
}

.h1, h1 {
    font-size: 36px;
    margin-left: 15px !important;

}

.table > thead > tr > td {
    background-color: #FFFFFF;

}